.Container{
    display: flex;
    justify-content: space-between;
    height: 300hv;
    width: 200hv;
    background-color: yellowgreen;
    margin: 0 auto;
    background-size:  100%;
      color: black;
}
.CardContainer{
    display: flex;
    justify-content: space-between;
    height: 300hv;
    width: 200hv;
    background-color: yellowgreen;
    margin: 0 auto;
    background-size:  100%;
      color: black;
}

.Mimi-deck, .Petya-deck{
    display:none;
    display: block;
    border: 1px black;
    width: 15vw;
    height: 20vh;
    background-image: url("PlayCard.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: .5rem;

}

*{
    margin: 0;
    padding: 0;
}

.Player{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PlayerMimiImage{
    border: 1px black;
    width: 20vw;
    height: 30vh;
    background-image: url("Mimi.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.PlayerPetyaImage{
    
        border: 1px black;
        width: 20vw;
        height: 30vh;
        background-image: url("Kaka.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #button{
        cursor: pointer;
    }