.Container{
    display: flex;
    justify-content: space-between;
    height: 300hv;
    width: 200hv;
    margin: 0 auto;
    background-size:  100%;
    font-size: xx-large;
    font-family: cursive;
    color: aliceblue;
}

.CardContainer{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin: auto;
    height: 300hv;
    width: 80%;
    /* background-color: yellow; */
      color: black;
     
}

#Mimi-hand{
    display: flex;
    float:left;
    margin: 20px;
    width: 200px;
    height:180px;
    

}

#Petya-hand{
    display: flex;
    float:right;
    margin: 20px;
    width: 200px;
    height:180px;
       
}

#result{
    display: flex;
    float:center;
    margin: 20px;
    width: 100px;
    height:200px;
    text-align: center;
    justify-content: center;
    align-items: center ;
    font-family: cursive;
      
}

.Player{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.PlayerMimiImage{
  
    width: 20vw;
    height: 30vh;
    background-image: url("Mimi.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid rgb(151, 146, 146);
    border-radius: 7px;
    padding: 5px;
}

.PlayerPetyaImage{
    
        width: 20vw;
        height: 30vh;
        background-image: url("Kaka.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 10px solid rgb(151, 146, 146);
        border-radius: 7px;
        padding: 5px;
        
    }

    
    body {
        margin: 0;
        background: radial-gradient(rgb(202, 255, 96), rgb(50, 75, 1) );
    }
    html {
        min-height: 100vh;
    }

    .Button{
        display: flex;
        padding: 0.5em 1.7em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255, 255, 255, 0);
        background-color: rgb(209, 31, 22);
        border-radius: 2em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: cursive;
        font-weight: 300;
        color: #ffffff;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        text-align: center;
        transition: all 0.2s;
        cursor: pointer;
       
    }

    .Button:hover{
        border-color: rgb(255, 255, 255);
    }

    #Game{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
   
   h1{
       display: flex;
    font-family: cursive;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    
   }
   .p{
    font-family: cursive;
    font-size: xx-large; 
   }
.collapsible{
  background-color: rgb(151, 146, 146);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #ccc;
  }
  .rules {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .avoid-clicks {
    pointer-events: none;
  }